*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}  
#div1{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}
.style{
	width:20%;
	box-shadow:0 0 5px #ccc;
}
.image-style{
	width:100%;
}